# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3

# Docker
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

# Virtual Environment
venv/
.venv/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/

# Other
.DS_Store 